[user]
	name = kryota-dev
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	ignorecase = false
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
[extensions]
	worktreeConfig = true
