{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

echo "Installing Moralerspace font..."
MORALERSPACE_VERSION=2.0.0
font_tmpdir=$(mktemp -d)
trap 'rm -rf "$font_tmpdir"' EXIT
cd "$font_tmpdir"
curl -L -O "https://github.com/yuru7/moralerspace/releases/download/v${MORALERSPACE_VERSION}/Moralerspace_v${MORALERSPACE_VERSION}.zip"
unzip "Moralerspace_v${MORALERSPACE_VERSION}.zip"
cp -f "Moralerspace_v${MORALERSPACE_VERSION}"/*.ttf ~/Library/Fonts/
echo "Moralerspace font installed."
{{ end -}}
